<StackLayout class="container">
  <social-share-button
    [shareIcons]="shareIcons"
    [size]="100"
    (shareButtonTap)="onShareButtonTap($event)"></social-share-button>
  <social-share-button
    [buttonColor]="'#581845'"
    [shareIcons]="shareIcons"
    [size]="80"
    (shareButtonTap)="onShareButtonTap($event)"></social-share-button>
  <social-share-button
    [buttonColor]="'#FFC300'"
    [iconColor]="'#C70039'"
    [shareIcons]="shareIcons"
    [size]="60"
    (shareButtonTap)="onShareButtonTap($event)"></social-share-button>
  <social-share-button
    [buttonColor]="'#99D5FF'"
    [iconColor]="'#000000'"
    [shareIcons]="shareIcons"
    [size]="40"
    (shareButtonTap)="onShareButtonTap($event)"></social-share-button>
</StackLayout>
